
<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul>
                    <li>
                        <h3>Soluzioni</h3>
                    </li>
                    <li>Event Management Solutions</li>
                    <li>Private Event Solutions</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <h3>Eventi e Servizi</h3>
                    </li>
                    <li>Eventi aziendali</li>
                    <li>Catering aziendale</li>
                    <li>Team building</li>
                    <li>Location</li>
                    <li>Convention aziendali</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <h3>Risorse</h3>
                    </li>
                    <li>Storie di success</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <h3>Azienda</h3>
                    </li>
                    <li>Chi siamo</li>
                    <li>Fornitori</li>
                    <li>Lavora con noi</li>
                    <li>Contattaci</li>
                </ul>
            </div>
        </div>
    </div>
</footer>