* {
    font-family: Nunito;
}



.mycard{
    width: 200px;
    height: 150px;
    background-color: white;
    border: 2px solid var(--primary);
    box-shadow: 5px 5px 10px black;
    margin-right: 10px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    overflow: scroll;
}


.mycardUser{
    width: 300px;
    height: 310px;
    background-color: white;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.mycard:hover{
    background-color: var(--primary);
}

.mycardUser:hover{
    box-shadow: 5px 5px 10px black;
}

.box_imgUser{
    width: 100%;
    height: 50%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.mybtn{
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--primary);
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
}

.mybtn_neg{
    color: var(--primary);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid white;
}
.mybtn:hover{
    border: 1px solid black;
}

.mybtn_neg:hover{
    border: 1px solid var(--primary);
}

header{
    border-bottom: 1px solid var(--primary);
    margin-bottom: 2rem;
}

.card_link{
    text-decoration: none;
    color: black;
}

.logo{
    color: var(--primary);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.form_section{
    background-color: var(--primary);
}
.form_create{
    margin: auto;
    width: 30%;
    border-radius: 5px;
    padding: 5px  10px;
    box-shadow: 5px 5px 10px black;
}

.link_event{
    text-decoration: none;
    color: black;
}


