<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
 
     <!-- css -->
     <link rel="stylesheet" href="style/main.css">
     <link rel="stylesheet" href="style/indexPage.css">
     <link rel="stylesheet" href="style/footer.css">
     <link rel="stylesheet" href="style/form.css">

     <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Register</title>
</head>

<body>

    <%- include('includes/header.ejs') %>
<!-- 
    <form action="/register" method="POST">
        <% if(locals.differentPswd || locals.userTaken){%>
            <div class="alert alert-danger w-50 text-center" role="alert">
                <h3 class="text-center">&#9888</h3>
                <% if(locals.differentPswd){%>
                <p class="mb-0">- Le due password non coincidono</p>
                <% } %>
                <% if(locals.userTaken){%>
                <p class="mb-0">- Username già in uso</p>
                <% } %>
              </div>
        <% } %>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="<%= oldUsername %>" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<% oldEmail %>" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="<% oldPassword %>" required>
        </div>
        <div>
            <label for="confirm">Conferma password</label>
            <input type="password" id="confirm" name="confirm">
        </div>
        <button class="btn btn-primary">Register</button>
    </form> -->

    <% if(locals.differentPswd || locals.userTaken){%>
        <div class="alert alert-warning w-50 text-center m-auto my-3" role="alert">
            <h3 class="text-center">&#9888</h3>
            <% if(locals.differentPswd){%>
            <p class="mb-0">- Le due password non coincidono</p>
            <% } %>
            <% if(locals.userTaken){%>
            <p class="mb-0">- Username già in uso</p>
            <% } %>
          </div>
    <% } %>

    <section class="py-5">
        <div class="mycontainer ">
            <div class="form ">
                <h2>Registrati</h2>
                <form action="/register" method="POST">
                    <div class="inputBox">
                        <input type="text" id="username" name="username" value="<%= oldUsername  %>" placeholder="Username" required>
                    </div>
                    <div class="inputBox">
                        <input type="email" id="email" name="email" value="<% oldEmail %>" placeholder="Email" required>
                    </div>
                    <div class="inputBox">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="inputBox">
                        <input type="password" id="confirm" name="confirm" placeholder="Conferma password" required>
                    </div>
                    <div class="inputBox">
                        <button class="mybtn_neg mb-3">Registrati</button>
                    </div>
                    <p class="forget">Hai già un account? 
                        <a href="/login">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
    <%- include('includes/footer.ejs') %>
</body>

</html>